/* 背景設定樣式 */
.background {
  @apply min-h-screen bg-cover bg-center;
  background-image: url("/paul-volkmer-qVotvbsuM_c-unsplash.jpg");
  color: white;
  z-index: -1;

  /* 需要動畫使用原生的 CSS */
}

/* Dashboard Page */
.dashboard-full {
  @apply min-h-screen flex;
}

.dashboard-base {
  @apply min-h-screen px-4 py-2 flex-row;
  background-color: rgb(255, 255, 255);
  color: black;
  width: 100%;
  height: 100%;
}

.dashboard-outside {
  @apply mt-4;
}

.dashboard-content {
  @apply flex;
  width: 100%;
  height: 100%;
}

.dashboard-filter {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 0.5rem;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  box-sizing: border-box;
  z-index: 50;
}

.tital-base {
  height: 20%;
}
/* icon-dark: #4A4A4A */
/* icon-bright: #3F51F3 */

/* Login Page */
.login-card {
  @apply backdrop-blur-md border-2 border-blue-300 rounded-xl shadow-2xl;
  height: 100%;
  color: black;

  /* 需要 RWD 設定的樣式*/
  background-image: linear-gradient(to bottom, #d7ebf5, #f0eaea);
  width: 25%;
  height: 60%;
  padding: 1.5rem;
}

.login-form {
  padding: 0.5rem;
  width: 100%;
}
